<html>
    <body>
        <center>
            <h1> Bank note Authentication </h1>
            <br><br><br>
            <form method="post" action="/predict">
                variance: <input type="text" name="Variance"><br><br>
                skewness: <input type="text" name="Skewness"><br><br>
                curtosis: <input type="text" name="curtosis"><br><br>
                entropy: <input type="text" name="entropy"><br><br>
                <input type="submit" value="submit"><br><br>
                
            </form>          
          
        </center>
    </body>
</html>
